$color: #ffaa8e;
$background: #ACEAEC;
$header: #01161E;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0A2E36;
$bordercolor: #2a3738;

* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;

    .header {
        top: 0;
        left: 0;
        background-color: $header;
        margin: 0;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;

            a {
                color: $textcolor;
                font-size: 20px;
                padding-left: 10px;
                font-weight: bold;
            }

            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;

                    }

                    .search-button:hover {
                        background-color: $darkbutton;

                    }
                }
            }
        }

    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }

    .page__body {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 90%;

            .left_part {
                width: 25%;
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                align-items: center;

                .user_content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .userphoto {
                        img {
                            height: 150px;
                            width: 150px;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        font-size: 25px;
                        font-weight: bold;
                    }
                }

            }

            .middle_part {
                margin-top: 50px;
                padding-left: 80px;
                display: flex;
                flex-direction: column;
                width: 80%;

                .container {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    .name_category {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .search-container {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 90%;
                        padding: 20px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 10px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 12px;
                        margin-left: 8px;

                    }

                    .search-button:hover {
                        background-color: $darkbutton;

                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 20px;

                    .buttons__first {
                        a {
                            font-weight: 500;
                            color: $darkbutton;
                            font-size: 1rem;
                        }
                    }

                    .buttons__second {
                        a {
                            font-weight: 500;
                            color: $darkbutton;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}


@media (min-width: 481px) and (max-width: 767px) {
    body {
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 0px 0px;
            margin-left: 0px;

            .left_part,
            .middle_part,
            .right_part {
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;
                margin: 0px;
                padding: 0px;
                align-items: center;

            }

            .left_part {
                width: 25%;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                margin-left: 50px;

                .user_content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .userphoto {
                        img {
                            height: 150px;
                            width: 150px;
                            border-radius: 50%;
                        }
                    }

                    .name {

                        font-size: 15px;
                        font-weight: bold;
                    }
                }

                .bookshelves {

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .carte {
                        padding: 10px;
                    }
                }
            }

            .buttons {
                .buttons__second {
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 0px 0px;

            .left_part,
            .middle_part,
            .right_part {
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;

            }

            .left_part {
                width: 25%;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                margin-left: 50px;

                .user_content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .userphoto {
                        img {
                            height: 150px;
                            width: 150px;
                            border-radius: 50%;
                        }
                    }

                    .name {

                        font-size: 15px;
                        font-weight: bold;
                    }
                }

                .bookshelves {

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .carte {
                        padding: 10px;
                    }
                }
            }


        }
    }
}