* {
  font-family: "Segoe UI", Verdana, sans-serif;
  background: none;
}

body {
  background-color: #ACEAEC;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .header {
  top: 0;
  left: 0;
  background-color: #01161E;
  margin: 0;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
body .header .navbar a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
body .header .navbar__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  flex: 1;
}
body .header .navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
body .header .navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .header .navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
body .header .navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}
body .header .navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #124559;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}
body .header .navbar__links ul li .search-button:hover {
  background-color: #0A2E36;
}
body .dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
body .dropdown-menu {
  background-color: #01161E;
  padding: 10px;
  border: 1px solid #2a3738;
  list-style-type: none;
  margin: 0;
  position: relative;
  z-index: 1;
}
body .dropdown-menu li {
  padding: 5px 0;
}
body .dropdown-menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .Containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .RegistrationContainer {
  display: flex;
  flex-direction: column;
  background-color: #104547;
  width: 50%;
  height: auto;
  margin: 5%;
  padding: 40px;
  border-radius: 20px;
}
body .RegistrationContainer h2 {
  font-size: 40px;
  align-self: center;
  color: white;
}
body .RegistrationContainer .formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
body .RegistrationContainer .formGroup label {
  display: block;
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
body .RegistrationContainer .formGroup input[type=text],
body .RegistrationContainer .formGroup input[type=email],
body .RegistrationContainer .formGroup input[type=password] {
  margin-left: 20px;
  margin-top: 0;
  background-color: white;
  width: 50%;
}
body .RegistrationContainer button[type=submit] {
  font-size: 17px;
  align-self: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}
body .RegistrationContainer button[type=submit]:hover {
  background-color: #0A2E36;
}

body::before {
  background-image: url(../../Images/bookimg3.jpg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: -1;
}

footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  flex: 1;
  bottom: 0;
  width: 100%;
  background: #0c3742;
  color: white;
}

@media (min-width: 768px) and (max-width: 1300px) {
  body .RegistrationContainer {
    margin-top: 10%;
  }
}
@media (min-width: 481px) and (max-width: 910px) {
  body .RegistrationContainer {
    margin-top: 10%;
  }
  body .RegistrationContainer h2 {
    font-size: 23px;
  }
  body .RegistrationContainer .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  body .RegistrationContainer .formGroup label {
    font-size: 15px;
  }
  body .RegistrationContainer .formGroup input[type=text],
  body .RegistrationContainer .formGroup input[type=email],
  body .RegistrationContainer .formGroup input[type=password] {
    margin: 0;
    width: 70%;
  }
  body .RegistrationContainer button[type=submit] {
    margin-top: 30px;
    font-size: 13px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body .RegistrationContainer {
    margin-top: 15%;
  }
  body .RegistrationContainer h2 {
    font-size: 23px;
  }
  body .RegistrationContainer .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  body .RegistrationContainer .formGroup label {
    font-size: 15px;
  }
  body .RegistrationContainer .formGroup input[type=text],
  body .RegistrationContainer .formGroup input[type=email],
  body .RegistrationContainer .formGroup input[type=password] {
    margin: 0;
    width: auto;
  }
  body .RegistrationContainer button[type=submit] {
    margin-top: 30px;
    font-size: 13px;
  }
}/*# sourceMappingURL=registerpage.css.map */