$color: #ffaa8e;
$background: #ACEAEC;
$header: #01161E;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0A2E36;
$bordercolor: #2a3738;
$challenge: #272D2D;
$body2: #15555a;
$body3: #3e8c9c;

* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;

    .header {
        top: 0;
        left: 0;
        background-color: $header;
        margin: 0;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;

            a {
                color: $textcolor;
                font-size: 20px;
                padding-left: 10px;
                font-weight: bold;
            }

            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: $textcolor;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;

                    }

                    .search-button:hover {
                        background-color: $darkbutton;

                    }
                }
            }
        }

    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }


    .header2 {
        display: flex;
        margin-top: 60px;
        flex-direction: row;

        .Logo {
            padding-left: 11%;
            align-self: center;
            color: $header;
            font-weight: bold;
            font-size: 1.8rem;
        }

        .search-container {
            align-self: center;
            padding-left: 20%;
            display: flex;
            align-items: center;
            flex-direction: row;

            input {
                background-color: $textcolor;
                margin-right: 5%;
                border-color: black;
                outline: none;
                border-radius: 3px;
            }

            button {

                background-color: $button;
                color: $textcolor;
                border-color: $bordercolor;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: $darkbutton;
                }
            }
        }
    }

    .horizontal-line {
        border: 1px solid black;
        margin-top: 20px;
        width: 85%;
    }

    .main {
        display: flex;
        flex-direction: row;

        .left_part {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            flex-direction: column;


            .continut {
                color: $textcolor;
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                background-color: $body;
                padding: 20px;

                .sectiune {
                    display: flex;
                    flex-direction: column;

                    .sectiune__tags {
                        display: flex;
                        flex-direction: column;
                        font-style: italic;

                        a {
                            margin-bottom: 10px;
                            color: $textcolor;
                        }

                    }
                }
            }

        }

        .right_part {
            display: flex;
            margin-left: 5%;
            border-collapse: collapse;
            width: 100%;
            align-items: flex-start;

            th,
            td {
                border-bottom: 1px solid black;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: 4px;
                text-align: left;
                padding: 8px 16px;
            }

            th {
                background-color: $body3;
            }

            td {

                .star {
                    display: flex;
                    flex-direction: row;

                    .poza {
                        height: 20px;
                        width: 20px;
                    }
                }

            }

            img {
                max-width: 100%;
                height: 150px;
            }

        }
    }
}

body::before {
    background-image: url(../../Images/bookimg3.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236, 1) 100%);
    z-index: -1;
    pointer-events: none;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 120px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}



@media (min-width: 481px) and (max-width: 767px) {
    body {
        .header2 {
            display: flex;
            margin-top: 60px;
            flex-direction: row;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;

            .Logo {
                padding-left: 10%;
                align-self: center;
                color: white;
                font-weight: bold;
                font-size: 15px;
            }

            .search-container {
                align-self: center;
                padding-left: 5%;
                display: flex;
                align-items: center;
                flex-direction: row;

                input {
                    background-color: white;
                    color: black;
                    border-color: black;
                    outline: none;
                    border-radius: 3px;
                }

                button {

                    background-color: white;
                    color: black;
                    border-color: black;
                    border-radius: 3px;
                    cursor: pointer;

                    &:hover {
                        background-color: grey;
                    }
                }
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;

            .left_part,
            .right_part {
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;
            }

            .left_part {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                .Bookshelf {
                    width: 27%;
                }

                .ReadingActivity {
                    width: 35%;
                    margin-left: 4%;
                    margin-right: 4%;
                }

                .AddBook {
                    width: 20%;
                }
            }

            .right_part td:nth-last-child(-n+4),
            .right_part th:nth-last-child(-n+4) {
                display: none;
            }
        }

    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        .header2 {
            .header2 {
                display: flex;
                margin-top: 60px;
                flex-direction: row;
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;

                .Logo {
                    padding-left: 10%;
                    align-self: center;
                    color: white;
                    font-weight: bold;
                    font-size: 15px;
                }

                .search-container {
                    align-self: center;
                    padding-left: 5%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    input {
                        background-color: white;
                        color: black;
                        border-color: black;
                        outline: none;
                        border-radius: 3px;
                    }

                    button {

                        background-color: white;
                        color: black;
                        border-color: black;
                        border-radius: 3px;
                        cursor: pointer;

                        &:hover {
                            background-color: grey;
                        }
                    }
                }
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;

            .left_part,
            .right_part {
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;
            }

            .left_part {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                width: 90%;

                .Bookshelf {
                    width: 27%;
                }

                .ReadingActivity {
                    width: 35%;
                    margin-left: 4%;
                    margin-right: 4%;
                }

                .AddBook {
                    width: 20%;
                }
            }

            .right_part {
                img {
                    height: 50px;
                    width: auto;
                }
            }

            .right_part td:nth-last-child(-n+4),
            .right_part th:nth-last-child(-n+4) {
                display: none;
            }
        }
    }

}