$color: #ffaa8e;
$background: #ACEAEC;
$header: #01161E;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0A2E36;
$bordercolor: #2a3738;
$challenge: #272D2D;

* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;

    .header {
        top: 0;
        left: 0;
        background-color: $header;
        margin: 0;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;

            a {
                color: $textcolor;
                font-size: 20px;
                padding-left: 10px;
                font-weight: bold;
            }

            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: $textcolor;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;

                    }

                    .search-button:hover {
                        background-color: $darkbutton;

                    }
                }
            }
        }

    }


    .dropdown-container {
        position: absolute;
        top: 100%; 
        left: 0;
        display: none; 
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1; 
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }


    main {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
        width: 100%;

        .left_part {
            width: 25%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            align-items: center;

            .user_content {
                .userphoto {
                    img {
                        height: 200px;
                        width: 200px;
                        border-radius: 50%;
                    }
                }

                .name {
                    font-size: 25px;
                    font-weight: bold;
                }
            }

            .bookshelves {

                display: flex;
                flex-direction: column;
                align-items: center;

                .carte {
                    padding: 10px;
                }
            }
        }

        .middle_part {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            width: 50%;

            .container {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
            }

            .name_category {
                font-size: 17px;
                font-weight: bold;
            }

            .answer_category {
                margin-left: 20px;
            }


        }

        .right_part {
            width: 25%;
            margin-right: 50px;
            margin-top: 50px;
            color: $textcolor;

            .challenge {
                background-color: $challenge;
                border-radius: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $textcolor;

                    img {
                        padding: 10px;
                        height: 100px;
                        width: 70px;
                    }
                }
            }

        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}



@media (min-width: 481px) and (max-width: 767px) {

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .left_part,
        .middle_part,
        .right_part {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;

        }

        .left_part {
            width: 25%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            .user_content {
                display: flex;
                flex-direction: column;
                align-items: center;

                .userphoto {
                    img {
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                    }
                }

                .name {

                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .bookshelves {

                display: flex;
                flex-direction: column;
                align-items: center;

                .carte {
                    padding: 10px;
                }
            }
        }


    }

}

@media (min-width: 320px) and (max-width: 480px) {

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .left_part,
        .middle_part,
        .right_part {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;

        }

        .left_part {
            width: 25%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            .user_content {
                display: flex;
                flex-direction: column;
                align-items: center;

                .userphoto {
                    img {
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                    }
                }

                .name {

                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .bookshelves {

                display: flex;
                flex-direction: column;
                align-items: center;

                .carte {
                    padding: 10px;
                }
            }
        }


    }
}