* {
  font-family: "Segoe UI", Verdana, sans-serif;
  background: none;
}

body {
  background-color: #aceaec;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .header {
  top: 0;
  left: 0;
  margin: 0;
  background-color: #01161e;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
body .header .navbar .first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}
body .header .navbar .first .logo img {
  width: 25px;
  height: 25px;
}
body .header .navbar .first a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
  text-decoration: none;
}
body .header .navbar__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  flex: 1;
}
body .header .navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
body .header .navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}
body .header .navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
body .header .navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}
body .header .navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #124559;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}
body .header .navbar__links ul li .search-button:hover {
  background-color: #0a2e36;
}
body .dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
body .dropdown-menu {
  background-color: #01161e;
  padding: 10px;
  border: 1px solid #2a3738;
  list-style-type: none;
  margin: 0;
  position: relative;
  z-index: 1;
}
body .dropdown-menu li {
  padding: 5px 0;
}
body .dropdown-menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .challenges {
  display: flex;
  margin-right: 30px;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
body .challenges .articol {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
}
body .challenges .articol .subclass {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}
body .challenges .articol .subclass .carti .carti__poza {
  width: 80px;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}
body .challenges .articol .subclass .buttons {
  display: flex;
  align-items: center;
}
body .challenges .articol .subclass .buttons .text {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 15px;
}
body .challenges .articol .subclass .buttons .text a {
  color: white;
}
body .challenges .articol .format {
  display: flex;
  flex-direction: column;
}
body .challenges .articol .format .ch {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: #15555a;
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
}
body .challenges .articol .format .ch .format__poza {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
body .challenges .articol .format .ch .format__text {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
  font-size: 25px;
  padding-top: 30px;
  padding-left: 20px;
}
body .challenges .articol .format .ch .format__text .butoane {
  padding-top: 5px;
  gap: 10px;
  display: flex;
  border: none;
  flex-direction: row;
}
body .challenges .articol .format .ch .format__text .butoane button {
  color: #aceaec;
  border: none;
}
body .challenges .articol .format .ch .format__text .edit-form {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 400;
  font-size: 20px;
  padding-top: 30px;
}
body .challenges .articol .format .ch .format__text .edit-form input {
  color: #aceaec;
  font-size: 15px;
  background-color: #07373b;
  border: 2px solid #052629;
}
body .challenges .articol .format .ch .format__text .edit-form .save-btn {
  padding-top: 5px;
  display: flex;
  border: none;
  display: flex;
  flex-direction: row;
  color: #aceaec;
}
body .challenges > .articol {
  margin-bottom: 30px;
}
body .readingchallenge {
  display: flex;
  position: relative;
  width: 95%;
  height: 128px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #002d2f;
  align-self: center;
  justify-content: space-between;
}
body .readingchallenge .banner {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
body .readingchallenge .banner .poza {
  width: 200px;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}
body .readingchallenge .banner .textbanner {
  color: white;
  font-size: 32px;
  float: left;
  padding-top: 40px;
  padding-left: 20px;
}
body .readingchallenge .statistici {
  display: block;
  text-align: left;
  background-color: #025161;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 10px;
  width: auto;
  height: 70%;
  color: #ffffff;
}
body .readingchallenge .statistici table {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  box-sizing: border-box;
}
body .readingchallenge .stat {
  height: 14px;
  font-size: 12px;
  text-align: right;
  padding: 6px;
}
body .readingchallenge .numar {
  height: 14px;
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  padding-left: 10px;
}

body::before {
  background-image: url(../../Images/bookimg3.jpg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236) 100%);
  z-index: -1;
  pointer-events: none;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  background: #0c3742;
  color: white;
}

@media (min-width: 481px) and (max-width: 880px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  body .header .navbar {
    flex-direction: column;
    margin-top: 20px;
  }
  body .header .navbar .navbar__links {
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
  }
  body .header .navbar .navbar__links ul {
    margin-top: 20px;
  }
  body .header .navbar .navbar__links ul li {
    display: block;
    margin: 5px;
    padding: 0;
  }
  body .challenges .articol .format .ch {
    align-items: center;
    justify-content: end;
  }
  body .challenges .articol .format .ch .format__poza {
    padding: 0px;
    height: 100px;
    width: 200px;
  }
  body .challenges .articol .format .ch .format__text {
    padding: 10px;
    font-size: 17px;
    float: left;
  }
  body .challenges .articol .format .ch .format__text .butoane {
    padding-top: 20px;
    float: left;
    width: 100%;
  }
  body .challenges .articol .format .ch .format__text .butoane button {
    color: #aceaec;
    border: none;
  }
  body .challenges .articol .format .ch .format__text .edit-form {
    font-size: 15px;
    width: 100%;
  }
  body .challenges .articol .format .ch .format__text .edit-form input {
    padding: 10px;
    font-size: 10px;
    height: 10px;
  }
  body .challenges .articol .format .ch .format__text .edit-form .save-btn {
    padding: 10px;
  }
  body .readingchallenge {
    margin: 0px;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  body .readingchallenge .banner {
    justify-content: center;
    align-self: center;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }
  body .readingchallenge .banner .poza {
    width: auto;
    padding: 0;
    height: 30px;
    padding-left: 10px;
    float: left;
    align-self: center;
  }
  body .readingchallenge .banner span {
    padding: 0px;
  }
  body .readingchallenge .banner .textbanner {
    color: white;
    font-size: 20px;
    padding: 0px;
    float: left;
    padding-left: 20px;
  }
  body .readingchallenge .statistici {
    display: none;
  }
  body .challenges {
    margin: 0px;
  }
  body .challenges .articol {
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: #15555a;
    border-radius: 20px;
  }
  body .challenges .articol .subclass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
  }
  body .challenges .articol .subclass .carti .carti__poza {
    width: 80px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
  }
  body .challenges .articol .subclass .buttons {
    display: flex;
    align-items: center;
  }
  body .challenges .articol .subclass .buttons .text {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 15px;
  }
  body .challenges .articol .subclass .buttons .text a {
    color: white;
  }
  body .challenges .articol .format {
    display: flex;
  }
  body .challenges .articol .format .format__poza {
    padding-top: 20px;
    height: 100px;
    width: 100px;
  }
  body .challenges .articol .format .format__text {
    color: white;
    font-size: 15px;
    padding-top: 30px;
    padding-left: 20px;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  body .header .navbar {
    flex-direction: column;
    margin-top: 20px;
  }
  body .header .navbar .navbar__links {
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
  }
  body .header .navbar .navbar__links ul {
    margin-top: 20px;
  }
  body .header .navbar .navbar__links ul li {
    display: block;
    margin: 5px;
    padding: 0;
  }
  body .challenges .articol .format .ch {
    align-items: center;
    justify-content: end;
  }
  body .challenges .articol .format .ch .format__poza {
    padding: 0px;
    height: 100px;
    width: 100px;
  }
  body .challenges .articol .format .ch .format__text {
    padding: 10px;
    font-size: 13px;
    float: left;
  }
  body .challenges .articol .format .ch .format__text .butoane {
    padding-top: 20px;
    float: left;
    width: 100%;
  }
  body .challenges .articol .format .ch .format__text .butoane button {
    color: #aceaec;
    border: none;
  }
  body .challenges .articol .format .ch .format__text .edit-form {
    font-size: 12px;
    width: 100%;
  }
  body .challenges .articol .format .ch .format__text .edit-form input {
    padding: 10px;
    font-size: 10px;
    height: 8px;
  }
  body .challenges .articol .format .ch .format__text .edit-form .save-btn {
    font-size: 10px;
    padding: 10px;
  }
  body .readingchallenge {
    margin: 0px;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  body .readingchallenge .banner {
    justify-content: center;
    align-self: center;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }
  body .readingchallenge .banner .poza {
    width: auto;
    padding: 0;
    height: 30px;
    padding-left: 10px;
    float: left;
    align-self: center;
  }
  body .readingchallenge .banner span {
    padding: 0px;
  }
  body .readingchallenge .banner .textbanner {
    color: white;
    font-size: 15px;
    padding: 0px;
    float: left;
    padding-left: 20px;
  }
  body .readingchallenge .statistici {
    display: none;
  }
  body .challenges {
    margin: 0px;
  }
  body .challenges .articol {
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: #15555a;
    border-radius: 20px;
  }
  body .challenges .articol .subclass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
  }
  body .challenges .articol .subclass .carti .carti__poza {
    width: 80px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
  }
  body .challenges .articol .subclass .buttons {
    display: flex;
    align-items: center;
  }
  body .challenges .articol .subclass .buttons .text {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 15px;
  }
  body .challenges .articol .subclass .buttons .text a {
    color: white;
  }
  body .challenges .articol .format {
    display: flex;
  }
  body .challenges .articol .format .format__poza {
    padding-top: 20px;
    height: 100px;
    width: 100px;
  }
  body .challenges .articol .format .format__text {
    color: white;
    font-size: 10px;
    padding-top: 30px;
    padding-left: 20px;
    align-items: center;
  }
}/*# sourceMappingURL=challenge.css.map */