* {
  font-family: "Segoe UI", Verdana, sans-serif;
  background: none;
}

body {
  background-color: #ACEAEC;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .header {
  top: 0;
  left: 0;
  background-color: #01161E;
  margin: 0;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
body .header .navbar a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
body .header .navbar__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  flex: 1;
}
body .header .navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
body .header .navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .header .navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
body .header .navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}
body .header .navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #124559;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}
body .header .navbar__links ul li .search-button:hover {
  background-color: #0A2E36;
}
body .dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
body .dropdown-menu {
  background-color: #01161E;
  padding: 10px;
  border: 1px solid #2a3738;
  list-style-type: none;
  margin: 0;
  position: relative;
  z-index: 1;
}
body .dropdown-menu li {
  padding: 5px 0;
}
body .dropdown-menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .page {
  background-color: #01474d;
  padding: 50px;
  border-radius: 20px;
  margin: 5%;
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
body .page .page__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}
body .page .page__header .poza {
  width: auto;
  height: 250px;
  float: left;
  border-radius: 10px;
}
body .page .page__header .text {
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 110px;
}
body .page .page__header .text .titlu {
  display: flex;
  font-size: 25px;
  font-weight: bold;
}
body .page .page__header .text .autor {
  display: flex;
  font-size: 15px;
}
body .page .update {
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
body .page .update .text {
  color: white;
  align-content: center;
  padding-right: 10px;
  font-size: 23px;
}
body .page .update input {
  color: white;
  background-color: #07373b;
  border: 2px solid #052629;
}
body .page .update input::-moz-placeholder {
  color: #000000;
}
body .page .update input::placeholder {
  color: #000000;
}
body .page .opinion {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 20px 10px 10px;
}
body .page .opinion .text {
  font-size: 22px;
  padding-bottom: 10px;
}
body .page .opinion textarea {
  color: white;
  min-width: 40px;
  min-height: 40px;
  max-width: 450px;
  background-color: #07373b;
  border: 2px solid #052629;
}
body .page .opinion textarea::-moz-placeholder {
  color: #000000;
}
body .page .opinion textarea::placeholder {
  color: #000000;
}
body .page .opinion .text__box {
  width: 300px;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: white;
}
body .page .button {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
body .page .button .post {
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: #01161E;
  width: 70px;
}
body .page .button .post a {
  color: white;
}
body .page .button .cancel {
  margin-left: 10px;
  padding: 3px;
  border-radius: 20px;
  text-align: center;
  width: 50px;
  align-self: center;
}
body .page .button .cancel a {
  color: white;
  text-align: center;
  font-size: 10px;
}

body::before {
  background-image: url(../../Images/bookimg3.jpg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236) 100%);
  z-index: -1;
  pointer-events: none;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  margin-top: 80px;
  bottom: 0;
  width: 100%;
  background: #0c3742;
  color: white;
}

@media (min-width: 481px) and (max-width: 767px) {
  body .page .page__header .poza {
    height: 200px;
  }
  body .page .page__header .text {
    margin: 0;
    padding-left: 5px;
  }
  body .page .page__header .text .titlu {
    font-size: 20px;
  }
  body .page .page__header .text .autor {
    font-size: 13px;
  }
  body .page .opinion {
    padding: 10px 20px 10px 10px;
  }
  body .page .opinion .text {
    font-size: 18px;
  }
  body .page .opinion textarea {
    min-height: 40px;
    max-width: 300px;
  }
  body .page .opinion .text__box {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body .page {
    justify-content: center;
    align-items: center;
  }
  body .page .page__header .book-header {
    display: flex;
    flex-direction: column;
  }
  body .page .page__header .book-header .poza {
    height: 200px;
  }
  body .page .page__header .book-header .text {
    margin: 0;
    padding-top: 30px;
    padding-left: 5px;
  }
  body .page .page__header .book-header .text .titlu {
    font-size: 20px;
  }
  body .page .page__header .book-header .text .autor {
    font-size: 13px;
  }
  body .page .opinion {
    padding: 10px 20px 10px 10px;
  }
  body .page .opinion .text {
    font-size: 18px;
  }
  body .page .opinion textarea {
    min-height: 40px;
    max-width: 200px;
  }
  body .page .opinion .text__box {
    font-size: 16px;
  }
  footer {
    margin-top: 120px;
  }
}/*# sourceMappingURL=updatebook.css.map */