$color: #ffaa8e;
$background: #aceaec;
$header: #01161e;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0a2e36;
$bordercolor: #2a3738;
$challenge: #272d2d;
$body2: #01474d;
$button2: #496264;

* {
    font-family: "Segoe UI", Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;
    .header {
        top: 0;
        left: 0;
        margin: 0;
        background-color: $header;

        .navbar {
            display: flex;
            // flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;
            .first {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 10px;
                .logo {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                a {
                    color: $textcolor;
                    font-size: 20px;
                    padding-left: 10px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;
                    }

                    .search-button:hover {
                        background-color: $darkbutton;
                    }
                }
            }
        }
    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }

    .page {
        background-color: $body2;
        padding: 50px;
        border-radius: 20px;
        margin: 5%;
        width: 50%;
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

        .page__header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            color: $textcolor;

            .poza {
                width: auto;
                height: 250px;
                float: left;
                border-radius: 10px;
            }

            .text {
                padding: 40px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding-top: 110px;

                .titlu {
                    display: flex;
                    font-size: 25px;
                    font-weight: bold;
                }

                .autor {
                    display: flex;
                    font-size: 15px;
                }
            }
        }

        .update {
            padding-left: 10px;
            padding-top: 30px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;

            .text {
                color: $textcolor;
                align-content: center;
                padding-right: 10px;
                font-size: 23px;
            }

            input {
                color: white;
                background-color: #07373b;
                border: 2px solid #052629;
            }

            input::placeholder {
                color: #000000;
            }
        }

        .opinion {
            color: $textcolor;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 10px 20px 10px 10px;

            .text {
                font-size: 22px;
                padding-bottom: 10px;
            }

            textarea {
                color: white;
                min-width: 40px;
                min-height: 40px;
                max-width: 450px;
                background-color: #07373b;
                border: 2px solid #052629;
            }

            textarea::placeholder {
                color: #000000;
            }

            .text__box {
                width: 300px;
                height: 200px;
                padding: 10px;
                border-radius: 5px;
                font-size: 16px;
                outline: none;
                color: white;
            }
        }

        .button {
            display: flex;
            flex-direction: row;
            align-self: center;
            align-content: center;
            flex-wrap: wrap;
            margin-top: 70px;

            .post {
                padding: 10px;
                border-radius: 20px;
                text-align: center;
                background-color: $header;
                width: 70px;

                a {
                    color: $textcolor;
                }
            }

            .cancel {
                margin-left: 10px;
                padding: 3px;
                border-radius: 20px;
                text-align: center;
                width: 50px;
                align-self: center;

                a {
                    color: $textcolor;
                    text-align: center;
                    font-size: 10px;
                }
            }
        }
    }
}

body::before {
    background-image: url(../../Images/bookimg3.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236, 1) 100%);
    z-index: -1;
    pointer-events: none;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 80px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        .header .navbar {
            flex-direction: column;
            margin-top: 20px;

            .navbar__links {
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                text-align: center;
                ul {
                    margin-top: 20px;
                }
                ul li {
                    display: block;
                    margin: 5px;
                    padding: 0;
                }
            }
        }
        .page {
            .page__header {
                .poza {
                    height: 200px;
                }

                .text {
                    margin: 0;
                    padding-left: 5px;

                    .titlu {
                        font-size: 20px;
                    }

                    .autor {
                        font-size: 13px;
                    }
                }
            }

            .opinion {
                padding: 10px 20px 10px 10px;

                .text {
                    font-size: 18px;
                }

                textarea {
                    min-height: 40px;
                    max-width: 300px;
                }

                .text__box {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        .header .navbar {
            flex-direction: column;
            margin-top: 20px;

            .navbar__links {
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                text-align: center;
                ul {
                    margin-top: 20px;
                }
                ul li {
                    display: block;
                    margin: 5px;
                    padding: 0;
                }
            }
        }
        .page {
            justify-content: center;
            align-items: center;

            .page__header {
                .book-header {
                    display: flex;
                    flex-direction: column;

                    .poza {
                        height: 200px;
                    }

                    .text {
                        margin: 0;
                        padding-top: 30px;
                        padding-left: 5px;
                        // justify-content: center;

                        .titlu {
                            font-size: 20px;
                        }

                        .autor {
                            font-size: 13px;
                        }
                    }
                }
            }

            .opinion {
                padding: 10px 20px 10px 10px;

                .text {
                    font-size: 18px;
                }

                textarea {
                    min-height: 40px;
                    max-width: 200px;
                }

                .text__box {
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        margin-top: 120px;
    }
}
