$color: #ffaa8e;
$background: #ACEAEC;
$header: #01161E;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0A2E36;
$bordercolor: #2a3738;
$challenge: #272D2D;
$body2: #15555a;
$body3: #3e8c9c;
$body4: #77cad4;

* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;

    .header {
        top: 0;
        left: 0;
        background-color: $header;
        margin: 0;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;

            a {
                color: $textcolor;
                font-size: 20px;
                padding-left: 10px;
                font-weight: bold;
            }

            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;

                    }

                    .search-button:hover {
                        background-color: $darkbutton;

                    }
                }
            }
        }

    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }


    .main {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;

        .left_part {
            margin-top: 50px;
            margin-left: 40px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex-basis: calc(20% - 20px);

            .wantToRead {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                background-color: $body4;
                border-radius: 20px;
                margin-bottom: 50px;
                padding-left: 10px;
                padding-right: 10px;

                .titlu {
                    padding: 5px;
                    align-self: center;
                }

                .books {

                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    grid-gap: 0px;

                    .image {
                        padding: 5px;
                        text-align: center;

                        img {
                            height: 100px;
                            width: 70px;
                        }
                    }

                }
            }

            .challenge {
                background-color: $body4;
                border-radius: 20px;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .titlu {
                    padding: 5px;
                    align-self: center;
                }

                .content {
                    padding: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        padding-right: 10px;
                        height: 100px;
                        width: 70px;
                    }
                }

                margin-bottom:50px;
            }

            .currentlyReading {
                padding-left: 10px;
                background-color: $body4;
                border-radius: 20px;
                display: flex;
                flex-direction: column;

                .titlu {
                    align-self: center;
                    padding: 5px;
                }

                img {
                    padding: 5px;
                    height: 100px;
                    width: 70px;
                }
            }
        }

        .middle_part {
            margin-top: 50px;
            flex-basis: calc(50% - 20px);
            display: flex;
            gap: 10px;
            flex-direction: column;

            .titlu {
                align-self: center;
                font-weight: bold;
                font-size: 20px;
            }

            .update {
                display: flex;
                flex-direction: column;

                .item {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    background-color: $body4;
                    border-radius: 20px;

                    .user_content {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        padding: 5px;

                        .userphoto {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            overflow: hidden;

                        }
                    }

                    .descriere {
                        padding-left: 30px;
                    }

                    .actions {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .like_button {
                            border: none;
                            padding: 10px;
                            padding-left: 20px;
                        }

                        .review {

                            padding: 10px;
                            padding-right: 20px;

                        }
                    }
                }

            }
        }

        .right_part {
            margin-top: 50px;
            margin-right: 40px;
            flex-basis: calc(20% - 20px);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 20px;
            gap: 10px;


            .titlu {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                align-self: center;
                font-weight: bold;
                font-size: 20px;
            }

            .container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                .item {
                    flex-grow: 1;
                    background-color: $body4;
                    padding: 10px;
                    text-align: center;
                    border-radius: 20px;
                    margin-bottom: 30px;
                }

                .top {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;

                    .titlu1 {
                        align-self: center;
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    .book {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;

                        .content {
                            background-color: $body3;
                            border-radius: 20px;
                            padding: 20px 80px 20px 80px;
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 10px;
                            align-items: center;

                            .titlu {
                                font-size: 13px;
                            }

                            img {
                                padding-right: 10px;
                                height: 100px;
                                width: 70px;
                            }
                        }
                    }
                }
            }

        }

    }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}


@media (min-width: 481px) and (max-width: 767px) {
    body {
        width: 100%;

        .main {
            display: flex;
            flex-direction: column;

            .left_part,
            .right_part,
            .middle_part {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
            }

            .right_part {
                padding: 0px 0px 0px 0px;
            }

        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;

        .main {
            display: flex;
            flex-direction: column;

            .left_part,
            .right_part,
            .middle_part {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
            }

            .right_part {
                padding: 0px 0px 0px 0px;
            }

        }
    }

}