* {
  font-family: "Segoe UI", Verdana, sans-serif;
  background: none;
}

body {
  background-color: #aceaec;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .header {
  background-color: #01161e;
  margin: 0;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
body .header .navbar a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
body .header .navbar__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  flex: 1;
}
body .header .navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
body .header .navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .header .navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
body .header .navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}
body .header .navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #124559;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}
body .header .navbar__links ul li .search-button:hover {
  background-color: #0a2e36;
}
body .main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body .main .left_part {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: calc(20% - 20px);
}
body .main .left_part .wantToRead {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #104547;
  border-radius: 20px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
body .main .left_part .wantToRead .titlu {
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
  align-self: center;
}
body .main .left_part .wantToRead .books {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}
body .main .left_part .wantToRead .books .image {
  padding: 5px;
  text-align: center;
}
body .main .left_part .wantToRead .books .image img {
  height: 100px;
  width: 70px;
}
body .main .left_part .challenge {
  padding: 20px;
  color: white;
  background-color: #104547;
  border-radius: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
body .main .left_part .challenge .titlu {
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  align-self: center;
}
body .main .left_part .challenge .content {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .main .left_part .challenge .content img {
  padding-right: 10px;
  height: 100px;
  width: 70px;
}
body .main .left_part .currentlyReading {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #104547;
  border-radius: 20px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
body .main .left_part .currentlyReading .titlu {
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
  align-self: center;
}
body .main .left_part .currentlyReading .books {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}
body .main .left_part .currentlyReading .books .image {
  padding: 5px;
  text-align: center;
}
body .main .left_part .currentlyReading .books .image img {
  height: 100px;
  width: 70px;
}
body .main .middle_part {
  color: white;
  margin-left: 10%;
  margin-top: 50px;
  flex-basis: calc(50% - 20px);
  display: flex;
  gap: 10px;
  flex-direction: column;
}
body .main .middle_part .titlu {
  align-self: center;
  font-weight: bold;
  font-size: 30px;
  font-weight: 700;
  color: #01161e;
}
body .main .middle_part .update {
  display: flex;
  flex-direction: column;
}
body .main .middle_part .update .item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #104547;
  border-radius: 20px;
  padding: 20px;
}
body .main .middle_part .update .item .user_content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  padding-left: 30px;
}
body .main .middle_part .update .item .user_content a {
  color: white;
  font-weight: bold;
}
body .main .middle_part .update .item .descriere {
  font-style: italic;
  padding-left: 30px;
}
body .main .middle_part .update .item .actions {
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: white;
  justify-content: flex-end;
}
body .main .middle_part .update .item .actions a {
  color: white;
  padding: 10px;
  padding-right: 20px;
}

body::before {
  background-image: url(../../Images/bookimg3.jpg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.2;
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236) 100%);
  z-index: -1;
  pointer-events: none;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  background: #0c3742;
  color: white;
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
    width: 100%;
  }
  body .main {
    display: flex;
    flex-direction: column;
  }
  body .main .left_part,
  body .main .middle_part {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    width: 100%;
  }
  body .main {
    display: flex;
    flex-direction: column;
  }
  body .main .left_part,
  body .main .middle_part {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}/*# sourceMappingURL=mainpage.css.map */