$color: #ffaa8e;
$background: #aceaec;
$header: #01161e;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0a2e36;
$bordercolor: #2a3738;
$challenge: #272d2d;
$body2: #15555a;
$body3: #3e8c9c;
$body4: #77cad4;

* {
    font-family: "Segoe UI", Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;
    .header {
        top: 0;
        left: 0;
        margin: 0;
        background-color: $header;

        .navbar {
            display: flex;
            // flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;
            .first {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 10px;
                .logo {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                a {
                    color: $textcolor;
                    font-size: 20px;
                    padding-left: 10px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;
                    }

                    .search-button:hover {
                        background-color: $darkbutton;
                    }
                }
            }
        }
    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }

    .main {
        display: flex;
        flex-direction: row;
        width: 100%;

        .left_part {
            margin-top: 50px;
            margin-left: 40px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex-basis: calc(20% - 20px);

            .wantToRead {
                padding: 20px;
                color: white;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                background-color: $body;
                border-radius: 20px;
                margin-bottom: 50px;
                padding-left: 10px;
                padding-right: 10px;

                .titlu {
                    font-size: 20px;
                    font-weight: 800;
                    padding: 5px;
                    align-self: center;
                }

                .books {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    grid-gap: 0px;

                    .image {
                        padding: 5px;
                        text-align: center;

                        img {
                            height: 100px;
                            width: 70px;
                        }
                    }
                }
            }

            .challenge {
                padding: 20px;
                color: white;
                background-color: $body;
                border-radius: 20px;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .titlu {
                    font-size: 15px;
                    font-weight: 500;
                    padding: 5px;
                    align-self: center;
                }

                .content {
                    padding: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        padding-right: 10px;
                        height: 100px;
                        width: 70px;
                    }
                    .text {
                        display: flex;
                        flex-direction: column;
                    }
                }

                margin-bottom: 50px;
            }

            .currentlyReading {
                padding: 20px;
                color: white;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                background-color: $body;
                border-radius: 20px;
                margin-bottom: 50px;
                padding-left: 10px;
                padding-right: 10px;

                .titlu {
                    font-size: 20px;
                    font-weight: 800;
                    padding: 5px;
                    align-self: center;
                }

                .books {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    grid-gap: 0px;

                    .image {
                        padding: 5px;
                        text-align: center;

                        img {
                            height: 100px;
                            width: 70px;
                        }
                    }
                }
            }
        }

        .middle_part {
            color: white;
            margin-left: 10%;
            margin-top: 50px;
            flex-basis: calc(50% - 20px);
            display: flex;
            gap: 10px;
            flex-direction: column;

            .titlu {
                align-self: center;
                font-weight: bold;
                font-size: 30px;
                font-weight: 700;
                color: #01161e;
            }

            .update {
                display: flex;
                flex-direction: column;

                .item {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    background-color: $body;
                    border-radius: 20px;
                    padding: 20px;

                    .user_content {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        padding: 10px;
                        padding-left: 30px;

                        a {
                            color: $textcolor;
                            //  font-size: 17px;
                            font-weight: bold;
                        }
                    }

                    .descriere {
                        font-style: italic;
                        padding-left: 30px;
                    }

                    .actions {
                        display: flex;
                        flex-direction: row;
                        padding: 10px;
                        color: white;
                        // align-items: flex-end;
                        justify-content: flex-end;

                        a {
                            color: white;
                            padding: 10px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

body::before {
    background-image: url(../../Images/bookimg3.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236, 1) 100%);
    z-index: -1;
    pointer-events: none;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        .header .navbar {
            flex-direction: column;
            margin-top: 20px;

            .navbar__links {
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                text-align: center;
                ul {
                    margin-top: 20px;
                }
                ul li {
                    display: block;
                    margin: 5px;
                    padding: 0;
                }
            }
        }
        width: 100%;

        .main {
            display: flex;
            flex-direction: column;

            .left_part,
            .middle_part {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
        .header .navbar {
            flex-direction: column;
            margin-top: 20px;

            .navbar__links {
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                text-align: center;
                ul {
                    margin-top: 20px;
                }
                ul li {
                    display: block;
                    margin: 5px;
                    padding: 0;
                }
            }
        }

        .main {
            display: flex;
            flex-direction: column;

            .left_part,
            .middle_part {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}
