$color: #ffaa8e;
$background: #aceaec;
$header: #01161e;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0a2e36;
$bordercolor: #2a3738;
$body4: #77cad4;

* {
    font-family: "Segoe UI", Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;
    .header {
        top: 0;
        left: 0;
        margin: 0;
        background-color: $header;

        .navbar {
            display: flex;
            // flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;
            .first {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 10px;
                .logo {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                a {
                    color: $textcolor;
                    font-size: 20px;
                    padding-left: 10px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;
                    }

                    .search-button:hover {
                        background-color: $darkbutton;
                    }
                }
            }
        }
    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .content {
            width: 80%;
            // padding: 30px;
            background-color: $body;
            border-radius: 20px;
            margin-top: 170px;
            //margin-left: 10%;
            // margin-right: 10%;
            // margin-bottom: 50px;
            //  width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // flex: 1;

            .left_part {
                display: flex;
                flex-direction: column;
                width: 40%;
                padding: 20px;
                border-radius: 20px;
                margin: 20px;
                color: white;

                .cover {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center;

                    .book_cover {
                        height: 400px;
                        width: auto;
                        border-radius: 10px;
                    }
                }

                .container {
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;

                    .titlu {
                        margin-top: 20px;
                        font-weight: bold;
                        align-self: center;
                        padding: 10px;
                        font-size: 25px;
                    }

                    .shelves {
                        padding: 10px;
                        display: flex;
                        background-color: #102c38;
                        align-items: center;
                        color: white;
                        border-radius: 20px;
                        width: auto;
                        flex-direction: column;

                        .shelf {
                            color: white;
                            font-size: 20px;
                            margin: 5px 0;
                            border: none;
                        }

                        .read {
                            margin: 5px 0;
                            border: none;

                            a {
                                text-decoration: none;
                                font-size: 20px;
                                color: white;
                            }
                        }
                    }

                    .text {
                        font-weight: bold;
                        align-self: center;
                        padding: 10px;
                        margin-top: 30px;
                    }

                    .stars {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }

                    .star {
                        font-size: 30px;
                        cursor: pointer;
                    }

                    .one,
                    .two,
                    .three,
                    .four,
                    .five {
                        color: rgb(255, 255, 0);
                    }
                }
            }

            .right_part {
                padding: 20px;
                display: flex;
                flex-direction: column;
                color: white;
                width: 60%;

                .rating {
                    font-size: 23px;
                    margin-left: 10px;
                    padding: 10px 0px 30px 0px;
                }

                .gold-star {
                    color: rgb(255, 255, 0);
                }

                .white-star {
                    color: white;
                }

                .title {
                    padding: 10px;
                    font-size: 45px;
                    font-weight: bold;
                }

                .author {
                    padding: 10px;
                    font-size: 20px;
                }

                .genres {
                    font-size: 16px;
                    padding: 10px;
                    color: rgb(146, 161, 157);
                }

                .published {
                    font-size: 16px;
                    padding: 10px;
                    color: rgb(146, 161, 157);
                }

                .reviews {
                    padding: 10px;
                    font-size: 25px;
                    margin-bottom: 10px;

                    .section_text {
                        font-size: 25px;
                        padding: 10px;
                        margin-bottom: 10px;
                    }

                    .item {
                        background-color: #0a2e36;

                        // width: 100%;

                        .user_content {
                            display: flex;
                            flex-direction: row;
                            font-size: 20px;

                            a {
                                color: white;
                            }

                            .user_photo {
                                aspect-ratio: 1;
                                background-size: cover;
                                background-position: center;
                                object-fit: cover;
                                border-radius: 100%;
                                display: block;
                                width: 37px;
                                height: 37px;
                                float: right;
                            }
                        }

                        .descriere {
                            overflow-wrap: break-word;
                            padding-left: 20px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            font-size: 20px;
                        }
                    }
                }

                .description_text {
                    font-size: 25px;
                    padding: 10px;
                }

                .description {
                    font-style: italic;
                    font-size: 18px;
                    padding: 10px;
                    margin-bottom: 20px;
                }

                .item {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    background-color: $body4;
                    border-radius: 20px;
                    margin-bottom: 20px;

                    .user_content {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        padding: 5px;

                        .userphoto {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }

                    .descriere {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}

body::before {
    background-image: url(../../Images/bookimg3.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236, 1) 100%);
    z-index: -1;
    pointer-events: none;
}

@media (min-width: 481px) and (max-width: 720px) {
    body {
        .header .navbar {
            flex-direction: column;
            margin-top: 20px;

            .navbar__links {
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                text-align: center;
                ul {
                    margin-top: 20px;
                }
                ul li {
                    display: block;
                    margin: 5px;
                    padding: 0;
                }
            }
        }
        .main {
            width: 100%;
            .content {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .right_part {
                    .showrating {
                        align-self: center;
                    }

                    .rating {
                        align-self: center;
                        justify-content: center;
                        margin: 0px;
                    }

                    .elements {
                        align-self: center;
                        justify-content: center;
                        background-color: #0a2e36;
                        padding: 20px;
                        border-radius: 20px;
                    }
                }

                .left_part {
                    .book_cover {
                        img {
                            align-self: center;
                            height: 200px;
                            width: 150px;
                        }
                    }

                    .container {
                        .star {
                            align-self: center;
                        }
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1;
        margin-top: 150px;
        bottom: 0;
        width: 100%;
        background: $footer;
        color: $textcolor;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        .header .navbar {
            flex-direction: column;
            margin-top: 20px;

            .navbar__links {
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                text-align: center;
                ul {
                    margin-top: 20px;
                }
                ul li {
                    display: block;
                    margin: 5px;
                    padding: 0;
                }
            }
        }
        .main {
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;

                .right_part {
                    margin: 0px;

                    .elements {
                        align-self: center;
                        justify-content: center;
                        background-color: #0a2e36;
                        padding: 20px;
                        border-radius: 10px;

                        .title {
                            font-size: 35px;
                        }

                        .author,
                        .genre,
                        .published {
                            font-size: 14px;
                        }
                    }

                    .reviews {
                        .item {
                            .user_content {
                                font-size: 12px;

                                a {
                                    color: white;
                                }
                            }

                            .descriere {
                                overflow-wrap: break-word;
                                padding-left: 20px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                font-size: 11px;
                            }
                        }
                    }

                    .description_text {
                        font-size: 20px;
                        padding: 10px;
                    }

                    .description {
                        font-style: italic;
                        font-size: 14px;
                        padding: 10px;
                        margin-bottom: 20px;
                    }

                    .showrating {
                        align-self: center;
                    }

                    .rating {
                        align-self: center;
                        justify-content: center;
                        margin: 0px;
                    }

                    .elements {
                        align-self: center;
                        justify-content: center;
                        background-color: #0a2e36;
                        padding: 20px;
                        border-radius: 20px;
                    }
                }

                .left_part {
                    img {
                        align-self: center;
                        height: 150px;
                        width: 100px;
                    }

                    .container {
                        .shelves {
                            font-size: 12px;

                            .shelf {
                                margin: 5px 0;
                                border: none;
                            }
                        }

                        .star {
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}
