* {
  font-family: "Segoe UI", Verdana, sans-serif;
  background: none;
}

body {
  background-color: #ACEAEC;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .header {
  top: 0;
  left: 0;
  background-color: #01161E;
  margin: 0;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
body .header .navbar a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
body .header .navbar__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  flex: 1;
}
body .header .navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
body .header .navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .header .navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
body .header .navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}
body .header .navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #124559;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}
body .header .navbar__links ul li .search-button:hover {
  background-color: #0A2E36;
}
body .dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
body .dropdown-menu {
  background-color: #01161E;
  padding: 10px;
  border: 1px solid #2a3738;
  list-style-type: none;
  margin: 0;
  position: relative;
  z-index: 1;
}
body .dropdown-menu li {
  padding: 5px 0;
}
body .dropdown-menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .main .content {
  background-color: #104547;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
body .main .content .left_part {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  color: white;
}
body .main .content .left_part .cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
body .main .content .left_part .cover .book_cover {
  height: 400px;
  width: auto;
  border-radius: 10px;
}
body .main .content .left_part .container {
  display: flex;
  flex-direction: column;
}
body .main .content .left_part .container .titlu {
  margin-top: 20px;
  font-weight: bold;
  align-self: center;
  padding: 10px;
}
body .main .content .left_part .container .shelves {
  padding: 10px;
  display: flex;
  background-color: aliceblue;
  align-items: center;
  color: black;
  border-radius: 20px;
  flex-direction: column;
}
body .main .content .left_part .container .shelves .shelve {
  margin: 5px 0;
}
body .main .content .left_part .container .text {
  font-weight: bold;
  align-self: center;
  padding: 10px;
  margin-top: 40px;
}
body .main .content .left_part .container .stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .main .content .left_part .container .star {
  font-size: 30px;
  cursor: pointer;
}
body .main .content .left_part .container .one,
body .main .content .left_part .container .two,
body .main .content .left_part .container .three,
body .main .content .left_part .container .four,
body .main .content .left_part .container .five {
  color: rgb(255, 255, 0);
}
body .main .content .right_part {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  width: 60%;
}
body .main .content .right_part .rating {
  font-size: 23px;
  margin-left: 10px;
  padding: 10px 0px 30px 0px;
}
body .main .content .right_part .gold-star {
  color: rgb(255, 255, 0);
}
body .main .content .right_part .white-star {
  color: white;
}
body .main .content .right_part .title {
  padding: 10px;
  font-size: 45px;
  font-weight: bold;
}
body .main .content .right_part .author {
  padding: 10px;
  font-size: 20px;
}
body .main .content .right_part .genres {
  font-size: 16px;
  padding: 10px;
  color: rgb(146, 161, 157);
}
body .main .content .right_part .published {
  font-size: 16px;
  padding: 10px;
  color: rgb(146, 161, 157);
}
body .main .content .right_part .reviews {
  padding: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}
body .main .content .right_part .reviews .section_text {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 10px;
}
body .main .content .right_part .reviews .item {
  background-color: #0A2E36;
}
body .main .content .right_part .reviews .item .user_content {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
body .main .content .right_part .reviews .item .user_content a {
  color: white;
}
body .main .content .right_part .reviews .item .user_content .user_photo {
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  width: 37px;
  height: 37px;
  float: right;
}
body .main .content .right_part .reviews .item .descriere {
  overflow-wrap: break-word;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
body .main .content .right_part .description_text {
  font-size: 25px;
  padding: 10px;
}
body .main .content .right_part .description {
  font-style: italic;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
}
body .main .content .right_part .item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #77cad4;
  border-radius: 20px;
  margin-bottom: 20px;
}
body .main .content .right_part .item .user_content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
}
body .main .content .right_part .item .user_content .userphoto {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}
body .main .content .right_part .item .descriere {
  padding-left: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  background: #0c3742;
  color: white;
}

body::before {
  background-image: url(../../Images/bookimg3.jpg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.6;
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236) 100%);
  z-index: -1;
  pointer-events: none;
}

@media (min-width: 481px) and (max-width: 1241px) {
  body .main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main .content .right_part {
    margin: 0px;
  }
  body .main .content .right_part .showrating {
    align-self: center;
  }
  body .main .content .right_part .rating,
  body .main .content .right_part .gold-star,
  body .main .content .right_part .white-star,
  body .main .content .right_part .title,
  body .main .content .right_part .author,
  body .main .content .right_part .genres,
  body .main .content .right_part .published {
    justify-content: center;
    align-items: center;
  }
  body .main .content .left_part img {
    align-self: center;
    height: 200px;
    width: auto;
  }
  body .main .content .left_part .container .star {
    align-self: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body .main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main .content .right_part {
    margin: 0px;
  }
  body .main .content .right_part .showrating {
    align-self: center;
  }
  body .main .content .left_part img {
    align-self: center;
    height: 200px;
    width: auto;
  }
  body .main .content .left_part .container .star {
    align-self: center;
  }
}/*# sourceMappingURL=bookpage.css.map */