$color: #ffaa8e;
$background: #aceaec;
$header: #01161e;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0a2e36;
$bordercolor: #2a3738;
$categorii: #142b2d;

* {
    font-family: "Segoe UI", Verdana, sans-serif;
    background: none;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    margin: 0;
    .header {
        top: 0;
        left: 0;
        margin: 0;
        background-color: $header;

        .navbar {
            display: flex;
            // flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;
            .first {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 10px;
                .logo {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                a {
                    color: $textcolor;
                    font-size: 20px;
                    padding-left: 10px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;
                    }

                    .search-button:hover {
                        background-color: $darkbutton;
                    }
                }
            }
        }
    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    .dropdown-menu {
        background-color: $header;
        padding: 10px;
        border: 1px solid $bordercolor;
        list-style-type: none;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        color: $textcolor;
        font-size: 17px;
        font-weight: bold;
    }

    .pagina {
        display: flex;
        flex-direction: row;
        padding-left: 30px;

        .main__body {
            width: 70%;

            .page__body {
                padding-left: 20px;
                display: flex;
                flex-direction: column;

                .mybooks {
                    display: flex;
                    padding: 10px 10px 20px 20px;
                    flex-direction: column;

                    .mybooks__text {
                        font-size: 23px;
                    }

                    .grupuri {
                        .mybooks__categorie {
                            background-color: $categorii;
                            color: $textcolor;
                            padding: 10px;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: row;

                            .poza {
                                padding: 10px;
                                height: 80px;
                                width: 60px;
                                float: left;
                            }

                            .text__component {
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                padding-top: 15px;

                                .mybooks__category {
                                    align-items: center;

                                    .categoryname {
                                        padding-left: 20px;
                                        font-size: 20px;
                                    }

                                    .categoryauthor {
                                        padding-left: 20px;
                                        font-size: 15px;
                                    }
                                }

                                .group__updates {
                                    padding-right: 20px;
                                    flex-direction: row;

                                    .text {
                                        padding: 10px 10px 20px 20px;
                                        font-size: 12px;

                                        a {
                                            color: $textcolor;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .grupuri > .mybooks__categorie {
                        margin-top: 10px;
                    }
                }

                .browse {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 10px 20px 20px;

                    .browse__text {
                        font-size: 23px;
                    }

                    .grupuri {
                        .mybooks__categorie {
                            background-color: $categorii;
                            color: $textcolor;
                            padding: 10px;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: row;

                            .poza {
                                height: 100px;
                                width: 100px;
                                border-radius: 10px;
                                float: left;
                            }

                            .mybooks__category {
                                display: flex;
                                flex-direction: column;

                                .tags {
                                    display: flex;
                                    flex-direction: row;
                                    padding-top: 20px;
                                    padding-left: 20px;
                                    justify-content: space-around;

                                    .categoryname {
                                        padding-right: 10px;
                                        font-size: 20px;
                                    }

                                    .buton__fixat {
                                        width: 20%;
                                        height: 50%;
                                        background-color: $button;
                                        padding: 10px;
                                        align-content: center;
                                        border-radius: 10px;

                                        .text {
                                            text-align: center;
                                            font-size: 15px;

                                            a {
                                                color: $textcolor;
                                            }
                                        }
                                    }
                                }

                                .group__updates {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row;

                                    .text {
                                        padding-left: 20px;
                                        font-size: 12px;

                                        a {
                                            color: $textcolor;
                                        }
                                    }
                                }

                                .group__updates > .text {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }

                    .grupuri > .mybooks__categorie {
                        margin-top: 10px;
                    }
                }
            }
        }

        .page__stanga {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;

            .text {
                font-size: 20px;
                align-self: center;
            }

            .continut {
                color: $textcolor;
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                background-color: $body;
                padding: 20px;

                .sectiune {
                    display: flex;
                    flex-direction: column;

                    .sectiune__tags {
                        display: flex;
                        flex-direction: column;
                        font-style: italic;

                        a {
                            margin-bottom: 10px;
                            color: $textcolor;
                        }
                    }
                }
            }
        }
    }
}

body::before {
    background-image: url(../../../Frontend/Images/bookimg3.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236, 1) 100%);
    z-index: -1;
    pointer-events: none;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background: $footer;
    color: $textcolor;
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
        .header .navbar {
            flex-direction: column;
            margin-top: 20px;

            .navbar__links {
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                text-align: center;
                ul {
                    margin-top: 20px;
                }
                ul li {
                    display: block;
                    margin: 5px;
                    padding: 0;
                }
            }
        }
        .pagina {
            display: flex;
            flex-direction: column-reverse;
            width: 90%;

            .main__body {
                width: 90%;

                .page__body {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;

                    .browse {
                        display: flex;
                        padding: 10px 10px 20px 20px;
                        flex-direction: column;

                        .mybooks__text {
                            font-size: 23px;
                        }

                        .grupuri {
                            .mybooks__categorie {
                                background-color: $categorii;
                                color: $textcolor;
                                padding: 10px;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: row;

                                .poza {
                                    padding: 10px;
                                    height: 40px;
                                    width: 40px;
                                    float: left;
                                }

                                .text__component {
                                    display: flex;
                                    flex-direction: column;
                                    flex-wrap: wrap;
                                    padding-top: 15px;

                                    .mybooks__category {
                                        align-items: center;

                                        .categoryname {
                                            padding-left: 20px;
                                            font-size: 20px;
                                        }

                                        .categoryauthor {
                                            padding-left: 20px;
                                            font-size: 15px;
                                        }
                                    }

                                    .group__updates {
                                        padding-right: 20px;
                                        flex-direction: row;

                                        .text {
                                            padding: 10px 10px 20px 20px;
                                            font-size: 12px;

                                            a {
                                                color: $textcolor;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .grupuri > .mybooks__categorie {
                            margin-top: 10px;
                        }
                    }
                }
            }

            .page__stanga {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;

                .continut {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 5%;
                }
            }
        }
    }
}
