$color: #ffaa8e;
$background: #aceaec;
$header: #01161e;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0a2e36;
$bordercolor: #2a3738;
$challenge: #272d2d;
$body2: #15555a;
$button2: #496264;

* {
    font-family: "Segoe UI", Verdana, sans-serif;
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;

    .header {
        top: 0;
        left: 0;
        background-color: $header;
        margin: 0;
        padding: 20px;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;

            p {
                font-size: 20px;
                color: white;
            }

            .logout-container {
                background-color: white;
                border-radius: 10%;

                .logout-button {
                    padding: 5px;
                    color: black;
                    border: none;
                }
            }

            a {
                color: $textcolor;
                font-size: 20px;
                padding-left: 10px;
                font-weight: bold;
            }
        }
    }

    .main {
        .container {
            display: flex;
            flex-direction: column;
        }

        .container1,
        .container2 {
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            background-color: $body;
            padding: 20px;
            border-radius: 20px;
            color: black;
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        .text {
            font-size: 15px;
            font-weight: 500;
        }

        .name {
            font-size: 30px;
            font-weight: 700;
            align-self: center;
            color: white;
            margin-bottom: 20px;
        }

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #a0ffef;
            border-radius: 5px;
            background-color: #cdfff7;
            /* exemplu pentru a se potrivi cu $darkbutton */
        }

        .delete-button {
            cursor: pointer;
            color: red;
            font-weight: 700;
        }

        .container2 {
            margin-bottom: 20px;
            /* Adăugare spațiu după .container2 */
        }
    }

    footer {
        display: flex;
        flex-direction: column;

        text-align: center;
        flex: 1;
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        background: $footer;
        color: $textcolor;
    }
}

body::before {
    background-image: url(../../Images/bookimg3.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(172, 234, 236, 1) 100%);
    z-index: -1;
    pointer-events: none;
}

@media (min-width: 481px) and (max-width: 767px) {
    .header {
        .navbar {
            &__links {
                align-items: center;
            }
        }
    }

    .main {
        .container {

            .container1,
            .container2 {
                width: 90%;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        .navbar {
            &__links {
                align-items: center;
            }
        }
    }

    .main {
        .container {

            .container1,
            .container2 {
                width: 90%;
            }
        }
    }
}