
$color: #ffaa8e;
$background: #ACEAEC;
$header: #01161E;
$footer: #0c3742;
$body: #104547;
$textcolor: #ffff;
$button: #124559;
$darkbutton: #0A2E36;
$bordercolor: #2a3738;
$challenge: #272D2D;
$body2: #15555a;
$button2:#496264;



* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;

    .header {
        top: 0;
        left: 0;
        background-color: $header;
        margin: 0;
        padding: 20px;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 0 10px;

            a {
                color: $textcolor;
                font-size: 20px;
                padding-left: 10px;
                font-weight: bold;
            }

            &__links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                flex: 1;

                ul li {
                    display: inline-block;
                    position: relative;
                    padding: 0px 10px;

                    a {
                        color: $textcolor;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .search-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    .search-input {
                        width: 80%;
                        padding: 5px;
                        border: 1px solid $bordercolor;
                        background-color: $textcolor;
                        border-radius: 4px;
                        font-size: 16px;
                    }

                    .search-button {
                        padding: 4px 10px;
                        background-color: $button;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-left: 8px;

                    }

                    .search-button:hover {
                        background-color: $darkbutton;

                    }
                }
            }
        }

    }

    .main {
        .container {
            display: flex;
            flex-direction: column;

            .container1,
            .container2 {
                margin-top: 50px;
                margin-left: auto; 
                margin-right: auto;
                background-color: $darkbutton;
                padding: 20px;
                border-radius: 20px;
                color: white;
                width: 60%; 
                .name {
                    text-align: center;
                    padding: 20px;
                    font-weight: bold;
                    font-size: 17px;
                    margin-bottom: 20px;
                }

                .request {
                    background-color: $body2;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                    padding: 20px;

                    .answer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 10px;

                        a {
                            color: white;

                        }

                        .options {
                            display: flex;
                            flex-direction: row;

                            .accept {
                                color: green;
                            }

                            .decline {
                                color: red;
                            }
                        }
                    }
                }
            }

            .container2 {
                margin-bottom: 20px; /* Adăugare spațiu după .container2 */
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        
        text-align: center;
        flex: 1;
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        background: $footer;
        color: $textcolor;
    }
    
}

@media (min-width: 481px) and (max-width: 767px) {
    .header {
        .navbar {
            &__links {
                align-items: center;
            }
        }
    }

    .main {
        .container {
            .container1,
            .container2 {
                width: 90%;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        .navbar {
            &__links {
                align-items: center;
            }
        }
    }

    .main {
        .container {
            .container1,
            .container2 {
                width: 90%;
            }
        }
    }
}
