.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  //background-color: #307074;
  padding: 0%;
  margin: 0 10px;

  a {
    color: #ffff;
    font-size: 20px;
    //background-color: #307074;
    font-weight: bold;
  }

  &__links {
    text-align: right;
    flex: 1;

    ul li {
      display: inline-block;
      position: relative;
      padding: 0px 10px;

      a {
        color: #ffff;
        font-size: 17px;
        font-weight: bold;
      }

      .search-container {
        display: flex;
        align-items: center;
        width: 300px;
        /* Lățimea dorită a barei de căutare */
      }

      .search-input {
        width: 80%;
        padding: 5px;
        border: 1px solid #2a3738;
        background-color: #ffffff;
        border-radius: 4px;
        font-size: 16px;
      }

      .search-button {
        padding: 4px 10px;
        background-color: #2b3a3e;
        /* Culoare de fundal a butonului */
        color: white;
        /* Culoare text buton */
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 8px;
        /* Spațiu între buton și input */
      }

      .search-button:hover {
        background-color: #1e3137;
        /* Culoare de fundal la hover */
      }
    }
  }
}

.header {
  top: 0;
  left: 0;
  background-color: #307074;
  position: relative;
}

body {
  background-color: #bee9ef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .challenges {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    align-content: center;
    flex-direction: column;

    .articol {
      display: flex;

      width: 90%;
      flex-direction: column;
      padding: 10px;
      background-color: #89bec1;
      border-radius: 20px;

      .subclass {
        display: flex;
        flex-direction: column;
        padding-left: 100px;

        .carti {
          .carti__poza {
            width: 80px;
            height: 100px;
            padding-top: 10px;
            padding-left: 10px;
            float: left;
          }
        }

        .buttons {
          display: flex;
          align-items: center;

          .text {
            padding-top: 10px;
            padding-left: 20px;
            font-size: 15px;
          }
        }
      }

      .format {
        display: flex;

        .format__poza {
          height: 100px;
          width: 100px;
        }

        .format__text {

          font-size: 15px;
          padding-top: 30px;
          padding-left: 20px;
          align-items: center;
        }
      }
    }

    .buton__fixat {
      bottom: 0;
      width: 20%;
      background-color: #307074;
      padding: 10px;
      border-radius: 10px;

      .text {
        text-align: center;
        font-size: 20px;

        a {
          color: #ffffff;
        }
      }
    }
  }

  .challenges>.articol {
    margin-bottom: 30px;
  }

  .readingchallenge {
    display: flex;
    position: relative;
    width: 900;
    height: 128px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #1e3137;

    .banner {
      height: 130;
      color: #ffffff;
      font-size: 48px;
      font-weight: bold;

      .poza {
        width: 200px;
        height: 100px;
        padding-top: 10px;
        padding-left: 10px;
        float: left;
      }

      .textbanner {
        color: #ffffff;
        font-size: 32px;
        float: left;
        padding-top: 40px;
        padding-left: 20px;
      }
    }

    .statistici {
      display: block;
      position: absolute;
      width: 230px;
      background-color: white;
      border-radius: 2px;
      padding: 10px 10px;
      margin-right: 10px;
      top: 30px;
      right: 10px;
      height: auto;

      table {
        display: block;
        box-sizing: border-box;
      }
    }

    .stat {
      height: 14px;
      color: #000000;
      font-size: 12px;
      text-align: right;
      padding: 2px 10px;
      margin-left: 10px;
      width: 135px;
    }

    .numar {
      height: 14px;
      font-weight: bold;
      text-align: left;
      font-size: 12px;
      padding-left: 10px;
      width: 135px;
    }
  }
}

footer {
  flex: 1;
  margin-top: 100px;
  text-align: center;
  color: #ffff;
  align-self: flex-start;
  background: #307074;
  bottom: 0;
  position: fixed;
  width: 100%;
}