@charset "UTF-8";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0%;
  margin: 0 10px;
}
.navbar a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.navbar__links {
  text-align: right;
  flex: 1;
}
.navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
.navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
.navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 300px;
  /* Lățimea dorită a barei de căutare */
}
.navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
}
.navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #2b3a3e;
  /* Culoare de fundal a butonului */
  color: white;
  /* Culoare text buton */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
  /* Spațiu între buton și input */
}
.navbar__links ul li .search-button:hover {
  background-color: #1e3137;
  /* Culoare de fundal la hover */
}

.header {
  top: 0;
  left: 0;
  background-color: #307074;
  position: relative;
}

body {
  background-color: #bee9ef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .pagina {
  display: flex;
  flex-direction: row;
}
body .pagina .main__body {
  width: 100%;
}
body .pagina .main__body .main {
  display: flex;
  padding: 10px 10px 20px 20px;
  flex-direction: column;
}
body .pagina .main__body .main .text {
  font-size: 20px;
}
body .pagina .main__body .main .search-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 300px;
  /* Lățimea dorită a barei de căutare */
}
body .pagina .main__body .main .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
}
body .pagina .main__body .main .search-button {
  padding: 4px 10px;
  background-color: #2b3a3e;
  /* Culoare de fundal a butonului */
  color: white;
  /* Culoare text buton */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
  /* Spațiu între buton și input */
}
body .pagina .main__body .main .search-button:hover {
  background-color: #1e3137;
  /* Culoare de fundal la hover */
}
body .pagina .main__body .page__body {
  display: flex;
  flex-direction: column;
}
body .pagina .main__body .page__body .mybooks {
  display: flex;
  padding: 10px 10px 20px 20px;
  flex-direction: column;
}
body .pagina .main__body .page__body .mybooks .mybooks__text {
  font-size: 23px;
}
body .pagina .main__body .page__body .mybooks .grupuri .mybooks__categorie {
  background-color: #a5d0d3;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
body .pagina .main__body .page__body .mybooks .grupuri .mybooks__categorie .poza {
  height: 100px;
  width: 100px;
  float: left;
}
body .pagina .main__body .page__body .mybooks .grupuri .mybooks__categorie .mybooks__category {
  display: flex;
  flex-direction: column;
}
body .pagina .main__body .page__body .mybooks .grupuri .mybooks__categorie .mybooks__category .group__updates {
  display: flex;
  align-items: center;
  flex-direction: row;
}
body .pagina .main__body .page__body .mybooks .grupuri .mybooks__categorie .mybooks__category .group__updates .text {
  padding-left: 20px;
  font-size: 12px;
}
body .pagina .main__body .page__body .mybooks .grupuri .mybooks__categorie .mybooks__category .group__updates > .text {
  margin-right: 8px;
}
body .pagina .main__body .page__body .mybooks .grupuri .mybooks__categorie .mybooks__category .categoryname {
  padding-top: 30px;
  padding-left: 20px;
  font-size: 20px;
}
body .pagina .main__body .page__body .mybooks .grupuri > .mybooks__categorie {
  margin-top: 10px;
}
body .pagina .main__body .page__body .browse {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 20px;
}
body .pagina .main__body .page__body .browse .browse__text {
  font-size: 23px;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie {
  background-color: #a5d0d3;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .poza {
  height: 100px;
  width: 100px;
  float: left;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category {
  display: flex;
  flex-direction: column;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .tags {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-left: 20px;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .tags .categoryname {
  padding-right: 10px;
  font-size: 20px;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .tags .buton__fixat {
  width: 20%;
  height: 0%;
  background-color: #496264;
  padding: 10px;
  align-content: center;
  border-radius: 10px;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .tags .buton__fixat .text {
  text-align: center;
  font-size: 10;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .tags .buton__fixat .text a {
  color: #ffffff;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .group__updates {
  display: flex;
  align-items: center;
  flex-direction: row;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .group__updates .text {
  padding-left: 20px;
  font-size: 12px;
}
body .pagina .main__body .page__body .browse .grupuri .mybooks__categorie .mybooks__category .group__updates > .text {
  margin-right: 8px;
}
body .pagina .main__body .page__body .browse .grupuri > .mybooks__categorie {
  margin-top: 10px;
}

footer {
  flex: 1;
  margin-top: 100px;
  text-align: center;
  color: white;
  align-self: flex-start;
  background: #307074;
  bottom: 0;
  width: 100%;
}/*# sourceMappingURL=groups.css.map */