* {
  font-family: "Segoe UI", Verdana, sans-serif;
  background: none;
}

body {
  background-color: #ACEAEC;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .header {
  top: 0;
  left: 0;
  background-color: #01161E;
  margin: 0;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
body .header .navbar a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
body .header .navbar__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  flex: 1;
}
body .header .navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
body .header .navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .header .navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
body .header .navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}
body .header .navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #124559;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}
body .header .navbar__links ul li .search-button:hover {
  background-color: #0A2E36;
}
body .dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
body .dropdown-menu {
  background-color: #01161E;
  padding: 10px;
  border: 1px solid #2a3738;
  list-style-type: none;
  margin: 0;
  position: relative;
  z-index: 1;
}
body .dropdown-menu li {
  padding: 5px 0;
}
body .dropdown-menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .Containers {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}
body .Containers::after {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 50%;
  width: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
}
body .RegistrationContainer {
  background-color: #104547;
  width: 25%;
  margin-top: 40px;
  margin-left: 10%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}
body .RegistrationContainer h2 {
  align-self: center;
  color: white;
  margin: 0;
}
body .RegistrationContainer .formGroup {
  margin-bottom: 10px;
}
body .RegistrationContainer .formGroup label {
  display: block;
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
}
body .RegistrationContainer .formGroup input[type=text],
body .RegistrationContainer .formGroup input[type=email],
body .RegistrationContainer .formGroup input[type=password] {
  margin-top: 0;
  background-color: white;
  width: 50%;
}
body .RegistrationContainer button[type=submit] {
  align-self: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
body .RegistrationContainer button[type=submit]:hover {
  background-color: #0A2E36;
}
body .AuthentificationContainer {
  display: flex;
  flex-direction: column;
  background-color: #104547;
  width: 25%;
  margin-top: 80px;
  margin-right: 10%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
body .AuthentificationContainer h2 {
  align-self: center;
  color: white;
}
body .AuthentificationContainer .formGroup {
  margin-bottom: 10px;
}
body .AuthentificationContainer .formGroup label {
  display: block;
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
}
body .AuthentificationContainer .formGroup input[type=text],
body .AuthentificationContainer .formGroup input[type=email],
body .AuthentificationContainer .formGroup input[type=password] {
  margin-top: 0;
  background-color: white;
  width: 50%;
}
body .AuthentificationContainer button[type=submit] {
  align-self: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
}
body .AuthentificationContainer button[type=submit]:hover {
  background-color: #0A2E36;
}
body .AuthentificationContainer .text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  padding-top: 20px;
}
body .AuthentificationContainer .text a {
  font-size: 10px;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  flex: 1;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  background: #0c3742;
  color: white;
}

@media (min-width: 481px) and (max-width: 767px) {
  body .Containers {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }
  body .Containers::after {
    display: none;
  }
  body .Containers .RegistrationContainer,
  body .Containers .AuthentificationContainer {
    width: 60%;
    align-self: center;
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body .Containers {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }
  body .Containers::after {
    display: none;
  }
  body .Containers .RegistrationContainer,
  body .Containers .AuthentificationContainer {
    width: 60%;
    align-self: center;
    margin-left: 20%;
    margin-right: 20%;
  }
}/*# sourceMappingURL=loginpage.css.map */