* {
  font-family: "Segoe UI", Verdana, sans-serif;
  background: none;
}

body {
  background-color: #ACEAEC;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .header {
  top: 0;
  left: 0;
  background-color: #01161E;
  margin: 0;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
body .header .navbar a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
body .header .navbar__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  flex: 1;
}
body .header .navbar__links ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}
body .header .navbar__links ul li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body .header .navbar__links ul li .search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
body .header .navbar__links ul li .search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #2a3738;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}
body .header .navbar__links ul li .search-button {
  padding: 4px 10px;
  background-color: #124559;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}
body .header .navbar__links ul li .search-button:hover {
  background-color: #0A2E36;
}
body .dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
body .dropdown-menu {
  background-color: #01161E;
  padding: 10px;
  border: 1px solid #2a3738;
  list-style-type: none;
  margin: 0;
  position: relative;
  z-index: 1;
}
body .dropdown-menu li {
  padding: 5px 0;
}
body .dropdown-menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
body main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
}
body main .left_part {
  width: 25%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: center;
}
body main .left_part .user_content .userphoto img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
body main .left_part .user_content .name {
  font-size: 25px;
  font-weight: bold;
}
body main .left_part .bookshelves {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .left_part .bookshelves .carte {
  padding: 10px;
}
body main .middle_part {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
body main .middle_part .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
body main .middle_part .name_category {
  font-size: 17px;
  font-weight: bold;
}
body main .middle_part .answer_category {
  margin-left: 20px;
}
body main .right_part {
  width: 25%;
  margin-right: 50px;
  margin-top: 50px;
  color: white;
}
body main .right_part .challenge {
  background-color: #272D2D;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .right_part .challenge .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
body main .right_part .challenge .content img {
  padding: 10px;
  height: 100px;
  width: 70px;
}

body::before {
  background-image: url(../../Images/bookimg3.jpg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  background: #0c3742;
  color: white;
}

@media (min-width: 481px) and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .left_part,
  .main .middle_part,
  .main .right_part {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .main .left_part {
    width: 25%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .main .left_part .user_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .left_part .user_content .userphoto img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .main .left_part .user_content .name {
    font-size: 15px;
    font-weight: bold;
  }
  .main .left_part .bookshelves {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .left_part .bookshelves .carte {
    padding: 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .left_part,
  .main .middle_part,
  .main .right_part {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .main .left_part {
    width: 25%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .main .left_part .user_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .left_part .user_content .userphoto img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .main .left_part .user_content .name {
    font-size: 15px;
    font-weight: bold;
  }
  .main .left_part .bookshelves {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .left_part .bookshelves .carte {
    padding: 10px;
  }
}/*# sourceMappingURL=userprofile.css.map */